* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
*:hover {
  scrollbar-color: var(--scrollbar) transparent;
}
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: transparent; border-radius: 0; transition: background 0.3s; }
*:hover > ::-webkit-scrollbar-thumb,
*:active > ::-webkit-scrollbar-thumb,
*:focus-within > ::-webkit-scrollbar-thumb { background: var(--scrollbar); }
::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-hover); }
::-webkit-scrollbar-corner { background: transparent; }
